### Checking whether python is working or not

In [1]:
print('hello NCC!')

hello NCC!

In [2]:
print(1+1)

2

### Install the pandas library by pip install

In [ ]:
#!pip install pandas

### Install the numpy library by pip install

In [ ]:
#!pip install numpy

### load the library

In [3]:
import pandas as pd 
import numpy as np

### Check whether the library is loaded well or not

In [4]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [5]:
np.array([])

array([], dtype=float64)

### Exercise 
#### ① Write the code to print out the results of 10 arithmetic operations (ie., 10 + 21 .... )
#### ② Write the code to print out 10 sentences (ie., 'I am going wherever you will go')