#### 1. Convert the given list to a tuple.

In [1]:
fruits = ["apple", "banana", "cherry"]

#### 2. Convert the given tuple to a list.

In [2]:
fruits_tuple = ("apple", "banana", "cherry")

#### 3. Convert the given list to a set.

In [3]:
fruits = ["apple", "banana", "cherry", "apple", "banana"]

#### 4. Find the intersection of two given sets.

In [4]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#### 5. Find the union of two given sets.

In [5]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#### 6. Find the difference between two given sets.

In [6]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#### 7. Check if the given element exists in the tuple.

In [7]:
fruits_tuple = ("apple", "banana", "cherry")
element = "apple"

#### 8. Add an element to the given set.

In [9]:
fruits_set = {"apple", "banana", "cherry"}
element = "orange"

#### 9. Remove an element from the given set.

In [10]:
fruits_set = {"apple", "banana", "cherry"}
element = "banana"

#### 10. Find the length of the given tuple.

In [11]:
fruits_tuple = ("apple", "banana", "cherry")

#### 11. Find the index of the given element in the tuple.

In [12]:
fruits_tuple = ("apple", "banana", "cherry")
element = "banana"

#### 12. Find the count of the given element in the tuple.

In [13]:
fruits_tuple = ("apple", "banana", "cherry", "banana")
element = "banana"